build:
  maxIssues: 0
  weights:
    complexity: 2
    LongParameterList: 1
    style: 1
    comments: 1

complexity:
  active: true
  LongMethod:
    threshold: 60
  LongParameterList:
    threshold: 6
  CyclomaticComplexity:
    threshold: 15

coroutines:
  active: true
  GlobalCoroutineUsage:
    active: true
  SuspendFunWithFlowReturnType:
    active: true

naming:
  active: true
  FunctionNaming:
    functionPattern: '[a-z][a-zA-Z0-9]*'
    excludeClassPattern: '$^'
    ignoreOverridden: true
  # Разрешаем бэктики в тестах
#  FunctionNaming:
#    ignoreAnnotated: ['Test']

style:
  active: true
  MaxLineLength:
    maxLineLength: 120
    excludePackageStatements: true
    excludeImportStatements: true
  MagicNumber:
    active: true
    ignoreNumbers: ['-1', '0', '1', '2']
  UnusedPrivateMember:
    active: true

potential-bugs:
  active: true
  UnsafeCallOnNullableType:
    active: true # Запрещает !!
